*{
    box-sizing: border-box;
    /* overflow: hidden; */
}
/* nav */
/* The navigation menu */
.navbar {
    /* overflow: hidden; */
    background-color:darkseagreen;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(233, 150, 25);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(233, 150, 25);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color:rgba(100, 148, 237, 0.555);
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgba(100, 148, 237, 0.555);
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    /* background-color: #eee; */
    color: black;
    border-bottom: 1px solid;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
    height: 10vh;
    /* justify-content: center; */
    align-items: center;
  }
/* nav end */

/* #news{
  height: 100px;
  overflow: hidden;
} */